ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
}

.item-formulario {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 16px;
}

.botones-accion {
  margin-top: 24px;

  ion-button {
    --border-radius: 8px;
    height: 46px;
    font-weight: 500;
  }
}
